@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
:root {
    --primary-color:#E8C300;

}
body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
    }
.navbar {
color: white;
padding: 1em;

    .logo {
        text-decoration: none;
        
    }
    nav{
        //display: none;
    }
    
    .container {
       // display: flex;
        place-content: space-between;
        text-align: center;
    }

   
    .mobile-menu {
        cursor: pointer;
    }
}

a {
    color: white;
}

ul{
    list-style-type: none;
    margin: 1 em;
    padding: 0;
}

section {
    padding: 5em 2em;
}

.hit{
    background-image: url('../Images/header-bg.svg');
    background-size: 100%;
    
}
.hero {
    text-align: center;
}

.mid-col{
    .subhead{
        text-transform: uppercase;
        font-weight: bold;
        color: rgb(255, 255, 255);
        letter-spacing: .3em;
    }
    h1{
        font-size: 96px;
        color: white;
    }
    .mid-button-booktable{
        background: var(--primary-color);
        color: white;
        text-decoration: none;
        padding: .6em 1.3em;
        font-size: 1.4em;
        border-radius: 5px;
        margin-right: 7em;
    }
    .mid-button{
        background: none;
        color: rgb(255, 255, 255);
        text-decoration: none;
        padding: .6em 1.3em;
        font-size: 1.4em;
        border-radius: 5px;
        border-color: white;
    }
}

.left-col{
    color: white;
}

.pg3{
    background-image: url('/Images/bg-pg3.svg');
    p{
        color: white;
    }
}

.pg5{
    background-image: url('/Images/specialty\'s-bg.svg');
    color: white;
}

.pg7{
    background-image: url('/Images/bg-pg3.svg');
    color: white;
}

.contact {

    input, textarea {
        width: 100%;
        border-radius: .3em;
        padding: .8em;
        box-sizing: border-box;
    }
    .send-message-cta{
        background: var(--primary-color);
        color: white;
        text-decoration: none;
        padding: .6em 1.3em;
        font-size: 1.4em;
        border-radius: 5px;
        margin-right: 7em;
        margin-bottom: 1em;
        border: none;
        cursor: pointer;
    }
}

iframe{
    width: 100%;
    height: 300px;
}

/*nav.menu-btn{
    display: block;
}
nav{
    position: fixed;
    z-index: 999;
    width: 66%;
    right: 0;
    top: 0;
     background: black;
    height: 100vh;
    padding: 1em;
        ul.promary-nav{
        margin-top: 5em;
        }
    li{
        a{
            color: white ;
            text-decoration: none ;
            display: block;
            padding: .5em;
            font-size: 1.3em;
            text-align: right;
            &:hover{
                font-weight: bold;
            }
        }
    }
    .mobile-menu-exit{
        float: right;
        margin: .5em;
        cursor: pointer;
    }
}
*/

.navbar{
    nav{
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    .right-nav{
        display: flex;

    }
    .left-nav{
        display: flex;
        order: 1;
    }
    .logo{
        display: flex;
        order: 1;
    }
}
}