@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
:root {
    --primary-color:#E8C300;

}
body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
    }
.navbar {
color: white;
padding: 1em;
    .logo {
        text-decoration: none;
        
    }
    nav{
        //display: none;
    }
    
    .container {
       // display: flex;
        place-content: space-between;
        text-align: center;
    }

   
    .mobile-menu {
        cursor: pointer;
    }
}
 .pg1{
     margin-top: 0;
     padding: 0;
 }


section {
    padding: 1.75em 1.75em;
}

.hit{
    background-image: url('../Images/header-bg.svg');
    background-size: cover;
    background-position: center;
}
.hero {
    text-align: center;
}

//корректировка дизайна главной страницы: заголовка и кнопок
.mid-col{
    .subhead{
        text-transform: uppercase;
        font-weight: bold;
        color: rgb(255, 255, 255);
        letter-spacing: .3em;
    }
    h1{
        font-size: 96px;
        color: white;
    }
    .mid-button-booktable{
        background: var(--primary-color);
        color: white;
        text-decoration: none;
        padding: .6em 1.3em;
        font-size: 1.4em;
        border-radius: 5px;
        margin-right: 7em;
    }
    .mid-button{
        background: none;
        color: rgb(255, 255, 255);
        text-decoration: none;
        padding: .6em 1.3em;
        font-size: 1.4em;
        border-radius: 5px;
        border-color: white;
    }
}

.left-col{
    color: white;
    padding-left: 0;
    margin-left: 0;
}



/*nav.menu-btn{
    display: block;
}
nav{
    position: fixed;
    z-index: 999;
    width: 66%;
    right: 0;
    top: 0;
     background: black;
    height: 100vh;
    padding: 1em;
        ul.promary-nav{
        margin-top: 5em;
        }
    li{
        a{
            color: white ;
            text-decoration: none ;
            display: block;
            padding: .5em;
            font-size: 1.3em;
            text-align: right;
            &:hover{
                font-weight: bold;
            }
        }
    }
    .mobile-menu-exit{
        float: right;
        margin: .5em;
        cursor: pointer;
    }
}
*/

//расстановка навигационной панели
.navbar{
    a{
        color: white;
    }
    nav{
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    
    .right-nav{
        display: flex;
        flex-grow: 1;
        justify-content: space-evenly;
        order: 1;
        
        
    }
    .left-nav{
        display: flex;
        flex-grow: 1;
        justify-content: space-evenly;
        
    }
    .logo{
        display: flex;
        order: 1;
    }
}
}

//расстановка главной панели
.hero{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .container{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        height: 446px;
        .mid-col{
            display: flex;
            flex-direction: column;
            justify-content: space-between; 
            .hero-cta{
                height: 59px;
            }       
        }
        .left-col{
            display: flex;
            order: -1;
            align-self: center;
            writing-mode: vertical-rl;
            flex-basis: 5%;
        }
        .right-col{
            display: flex;
            align-self: stretch;
            flex-direction: column;
            justify-content: space-evenly;
            flex-basis: 5%;
            a{
                display: flex;
                align-content: space-between;
            }
        }
    }
}
//расстановка страницы  2

.pg2{
    .container{
        display: flex;
        justify-content: center;
        .left-col-pg2{
            display: flex;
            flex-direction: column;
            justify-content: center;
            h1{
                font-size: 4em;
                text-align: center;
            }
            p{
                text-align: center;
                font-size: 1em;
            }
            .bold{
                font-weight: bold;
                font-size: 1.5em;
            }
        }
    }
}
//расстановка страницы 3
.pg3{
    background-image: url('/Images/bg-pg3.svg');
    p{
        color: white;
    }

    display: flex;
    flex-direction: column;
    .head-pg3{
        text-align: center;
    }
    .container{
        display: flex;
        flex-direction: row-reverse;
        .right-col-pg3{
            display: flex;
            flex-direction: column;
            text-align: center;
            justify-content: center;
            h1{
                font-size: 4em;
                text-align: center;
                color: white;
            }
            p{
                text-align: center;
                font-size: 1em;
            }
            .bold{
                font-weight: bold;
                font-size: 1.5em;
            }
        }
    }
}

//расстановка страницы 4

.pg4{
    p{
        text-align: center;
    }
    .container{
        display: flex;
        justify-content: space-around;
        
        .left-col-pg4{
            display: flex;
            flex-direction: column ;
            justify-content: center;
            text-align: center;
            width: 100%;
            .midpg4{
                display: flex;
                flex-direction: row;
                justify-content: space-around;
                .left-midpg4{
                    display: flex;
                    flex-direction: column;
                    flex-basis: 49%;
                    input{
                        height: 60px;
                        border-radius: 5px;
                        
                    }
                }
                .right-midpg4{
                    display: flex;
                    flex-direction: column;
                    flex-basis: 49%;
                    input{
                        height: 60px;
                        border-radius: 5px;
                    }
                    .people{
                        input{
                            width: 60%; 
                        }
                    }
                }
                }
                
            }
            .downpg4{
                .book-now-cta{
                background: var(--primary-color);
                color: white;
                text-decoration: none;
                padding: .6em 1.3em;
                font-size: 12px;
                border-radius: 5px;
                margin-right: 7em;
                margin-bottom: 1em;
                border: none;
                cursor: pointer;
                width: 100%;
                height: 60px;
                }
        }
    }
}

//расстановка страницы 5

.pg5{
    background-image: url('/Images/specialty\'s-bg.svg');
    color: white;
    display: flex;
    text-align: center;
    flex-direction: column;
    
    .container{
        display: flex;
        .right-col-pg5{
            display: flex;
            flex-direction: column;
            text-align: center;
            justify-content: center;
            h1{
                font-size: 4em;
                text-align: center;
            }
            p{
                text-align: center;
                font-size: 1em;
            }
            .bold{
                font-weight: bold;
                font-size: 1.5em;
            }
        }

    }
    .bot-pg5{
        display: flex;
        justify-content: center;
        a{
            margin-left: 1em;
        }
    }
}

//расстановка страницы 6

.pg6{
    display: flex;
    text-align: center;
    flex-direction: column;
    nav{
        .menu{
            display: flex;
            justify-content: space-around;
        }
    }
    .pg6up{
        font-weight: bold;
    }
    .mid-pg6{
        display: flex;
        justify-content: space-between;
        p{
            font-weight: bold;
            font-size: 1.5em;
            text-align: left;
            .description{
                font-size: 0.5em;
                font-weight: 100;
                color: gray;
            }
        }
    }
}

//расстановка страницы 7

.pg7{
    background-image: url('/Images/bg-pg3.svg');
    color: white;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    .mid-pg7{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    .callpg7{
        color: gray;
        font-size: 0.75em;
        padding-top: 0.5em;
        padding-bottom: 1em;
        .number{
            font-weight: bold;
            color: rgb(187, 187, 187);
        }
    }
    .images-pg7{
        display: flex;
        img{
            flex-basis: 25%;
        }
    }
}

//расстановка "обратной связи"
.contact {
    margin-top: 4em;
    h1{
        font-size: 3em;
    }
    p{
        margin-bottom: 2em;
    }
    /*input, textarea {
        width: 100%;
        border-radius: .3em;
        padding: .8em;
        box-sizing: border-box;
    }
    .send-message-cta{
        background: var(--primary-color);
        color: white;
        text-decoration: none;
        padding: .6em 1.3em;
        font-size: 1.4em;
        border-radius: 5px;
        margin-right: 7em;
        margin-bottom: 1em;
        border: none;
        cursor: pointer;
    }*/
    .container{
    text-align: center;
    flex-direction: column;
    display: flex;
    .contact-form{
       display: flex;
       flex-direction: column;
        .fields-info{
            display: flex;
            justify-content: space-around;
            padding-bottom: 0.5em;
            input{
                flex-basis: 32.5%;
                height: 60px;
                border-radius: 5px;
            }
        }
        textarea{
            width: 100%;
            height: 120px;
            border-radius: 5px;
        }
    }
    .contact-send{
        display: flex;
        justify-content: space-around;
        .adress{
            font-size: 14px;
        }
        .send-message-cta{
            background: var(--primary-color);
            color: white;
            text-decoration: none;
            padding: .6em 1.3em;
            font-size: 12px;
            border-radius: 5px;
            margin-right: 7em;
            margin-bottom: 1em;
            border: none;
            cursor: pointer;
            width: 50%;
        }
        margin-bottom: 3em;
    }
}
}

//корректировка размера карты
iframe{
    width: 100%;
    height: 475px;
}