@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");
:root {
  --primary-color:#E8C300;
}

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

.navbar {
  color: white;
  padding: 1em;
}

.navbar .logo {
  text-decoration: none;
}

.navbar .container {
  place-content: space-between;
  text-align: center;
}

.navbar .mobile-menu {
  cursor: pointer;
}

section {
  padding: 5em 2em;
}

.hit {
  background-image: url("../Images/header-bg.svg");
  background-size: 100%;
}

.hero {
  text-align: center;
}

.mid-col .subhead {
  text-transform: uppercase;
  font-weight: bold;
  color: white;
  letter-spacing: .3em;
}

.mid-col h1 {
  font-size: 96px;
  color: white;
}

.mid-col .mid-button-booktable {
  background: var(--primary-color);
  color: white;
  text-decoration: none;
  padding: .6em 1.3em;
  font-size: 1.4em;
  border-radius: 5px;
  margin-right: 7em;
}

.mid-col .mid-button {
  background: none;
  color: white;
  text-decoration: none;
  padding: .6em 1.3em;
  font-size: 1.4em;
  border-radius: 5px;
  border-color: white;
}

.left-col {
  color: white;
}

.pg3 {
  background-image: url("/Images/bg-pg3.svg");
}

.pg3 p {
  color: white;
}

.pg5 {
  background-image: url("/Images/specialty's-bg.svg");
  color: white;
}

.pg7 {
  background-image: url("/Images/bg-pg3.svg");
  color: white;
}

.contact input, .contact textarea {
  width: 100%;
  border-radius: .3em;
  padding: .8em;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.contact .send-message-cta {
  background: var(--primary-color);
  color: white;
  text-decoration: none;
  padding: .6em 1.3em;
  font-size: 1.4em;
  border-radius: 5px;
  margin-right: 7em;
  margin-bottom: 1em;
  border: none;
  cursor: pointer;
}

iframe {
  width: 100%;
  height: 300px;
}

/*nav.menu-btn{
    display: block;
}
nav{
    position: fixed;
    z-index: 999;
    width: 66%;
    right: 0;
    top: 0;
     background: black;
    height: 100vh;
    padding: 1em;
        ul.promary-nav{
        margin-top: 5em;
        }
    li{
        a{
            color: white ;
            text-decoration: none ;
            display: block;
            padding: .5em;
            font-size: 1.3em;
            text-align: right;
            &:hover{
                font-weight: bold;
            }
        }
    }
    .mobile-menu-exit{
        float: right;
        margin: .5em;
        cursor: pointer;
    }
}
*/
.navbar a {
  color: white;
}

.navbar nav {
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.navbar nav .right-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

.navbar nav .left-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.navbar nav .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

.hero .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.hero .container .mid-col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.hero .container .mid-col .pic1 {
  width: 200%;
  color: white;
}

.hero .container .left-col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
          order: -1;
  -ms-flex-item-align: center;
      align-self: center;
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
}

.hero .container .right-col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: stretch;
      align-self: stretch;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.hero .container .right-col a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: justify;
      align-content: space-between;
}

.pg2 .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.pg2 .container .left-col-pg2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.pg2 .container .left-col-pg2 h1 {
  font-size: 4em;
  text-align: center;
}

.pg2 .container .left-col-pg2 p {
  text-align: center;
  font-size: 1em;
}

.pg2 .container .left-col-pg2 .bold {
  font-weight: bold;
  font-size: 1.5em;
}

.pg3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.pg3 .head-pg3 {
  text-align: center;
}

.pg3 .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.pg3 .container .right-col-pg3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.pg3 .container .right-col-pg3 h1 {
  font-size: 4em;
  text-align: center;
  color: white;
}

.pg3 .container .right-col-pg3 p {
  text-align: center;
  font-size: 1em;
}

.pg3 .container .right-col-pg3 .bold {
  font-weight: bold;
  font-size: 1.5em;
}

.pg4 p {
  text-align: center;
}

.pg4 .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.pg4 .container .left-col-pg4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.pg5 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.pg5 .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.pg5 .container .right-col-pg5 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.pg5 .container .right-col-pg5 h1 {
  font-size: 4em;
  text-align: center;
}

.pg5 .container .right-col-pg5 p {
  text-align: center;
  font-size: 1em;
}

.pg5 .container .right-col-pg5 .bold {
  font-weight: bold;
  font-size: 1.5em;
}

.pg5 .bot-pg5 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.pg5 .bot-pg5 a {
  margin-left: 1em;
}

.pg6 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.pg6 nav .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.pg6 .pg6up {
  font-weight: bold;
}

.pg6 .mid-pg6 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.pg6 .mid-pg6 p {
  font-weight: bold;
  font-size: 1.5em;
  text-align: left;
}

.pg6 .mid-pg6 p .description {
  font-size: 0.5em;
  font-weight: 100;
  color: gray;
}
/*# sourceMappingURL=main.css.map */